# =====================================
# Python
# =====================================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =====================================
# Virtual Environment
# =====================================
.venv/
venv/
env/

# =====================================
# PyInstaller
# =====================================
build/
dist/

# =====================================
# Runtime logs
# =====================================
*.log

# =====================================
# IDE
# =====================================
.vscode/
.idea/

# =====================================
# Windows
# =====================================
Thumbs.db
Desktop.ini

# =====================================
# macOS
# =====================================
.DS_Store